save/*
src/model/__pycache__/*
src/controller/__pycache__/*
src/view/__pycache__/*
src/web/__pycache__/*
src/logs/__pycache__/*
src/logs/*.log
src/ai/__pycache__/*

#On ignore les fichiers html
src/web/*.html